/* pages/cart/cart.wxss */
.app-cart {
  margin: 20rpx 0;
  padding-bottom: 90rpx;
}
.app-cart .address_btn {
  width: 100%;
}
.app-cart .address_btn button {
  width: 80%;
  font-weight: normal;
}
.app-cart .address_con {
  display: flex;
  flex-direction: column;
  padding: 20rpx;
  border-bottom: 1px solid var(--themeColor);
}
.app-cart .address_con .adrs_info {
  flex: 5;
  display: flex;
  justify-content: space-between;
}
.app-cart .address_con .adrs_allinfo {
  padding-top: 20rpx;
}
.app-cart .address_con .adrs_phone {
  flex: 2;
  text-align: right;
}
.app-cart .cart_main {
  border-top: 1px solid var(--themeColor);
}
.app-cart .cart_main .cart_item {
  margin: 20rpx;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
}
.app-cart .cart_main .cart_item .cart_checks {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}
.app-cart .cart_main .cart_item .cart_info {
  flex: 5;
  display: flex;
  justify-content: space-between;
}
.app-cart .cart_main .cart_item .cart_info .pic {
  flex: 2;
  margin-right: 30rpx;
}
.app-cart .cart_main .cart_item .cart_info .pic image {
  width: 100%;
  height: 100%;
}
.app-cart .cart_main .cart_item .cart_info .cont {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30rpx;
}
.app-cart .cart_main .cart_item .cart_info .cont .name {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.app-cart .cart_main .cart_item .cart_info .cont .price_set {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.app-cart .cart_main .cart_item .cart_info .cont .price_set .price {
  flex: 2;
  text-align: left;
  color: var(--themeColor);
  font-weight: bold;
  font-size: 32rpx;
}
.app-cart .cart_main .cart_item .cart_info .cont .price_set .step {
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: space-between;
}
.app-cart .cart_main .cart_item .cart_info .cont .price_set .step .calcbtn {
  background: #fff;
  border: 1px solid #efefef;
  display: flex;
  width: 40rpx;
  height: 40rpx;
  line-height: 40rpx;
  justify-content: center;
  align-items: center;
}
.app-cart .cart_main .empty_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32rpx;
  color: #666;
  margin: 30rpx;
}
.app-cart .cart_settlement {
  width: 100%;
  height: 100rpx;
  background: #fff;
  border-top: 1px solid #efefef;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-cart .cart_settlement .all_check {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app-cart .cart_settlement .settle_cont {
  height: 100%;
  flex: 6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.app-cart .cart_settlement .settle_cont .font {
  flex: 2;
  text-align: right;
}
.app-cart .cart_settlement .settle_cont .total_price {
  flex: 4;
  color: #666;
  text-align: right;
  margin-right: 20rpx;
  font-size: 26rpx;
}
.app-cart .cart_settlement .settle_cont button {
  flex: 3;
  color: #fff;
  font-size: 32rpx;
  font-weight: normal;
  border-radius: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--themeColor);
}
